@import '../scss/colors.scss';
@import '../scss/mixins.scss';

.routes_wrapper{
    width: 100%;
    margin: auto;
    border: 1px solid $color-thin-gray;
    background-color: white;
    top: 10px;
    min-height:calc(100vh - 60px);
    margin-top: 51px;
}
