<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <system.webServer>
  	<defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <!-- IIS url rewrite -->
    <rewrite>
      <rules>
      <!-- khub/qna   -->
        <rule name="AngularJS/ReactJs SubApplication Routes la" stopProcessing="true">
          <match url="qna/.*" />
          <conditions logicalGrouping="MatchAll">
              <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
              <add input="{REQUEST_URI}" pattern="^/qna/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/qna/" />
        </rule>
        <rule name="AngularJS Routes" stopProcessing="true">
        <!-- khub/   -->
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_METHOD}" pattern="^GET$" />
            <add input="{HTTP_ACCEPT}" pattern="^text/html" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>

      </rules>
    </rewrite>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
        <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
        <add extension=".html" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
      </profiles>
    </caching>

    <staticContent>
    <remove fileExtension=".woff" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
  </staticContent>
  </system.webServer>
</configuration>
