// Author hannad rehman .
// Note : DONOT CHANGE ANY COLOR AS THEY ARE USED ACROSS THE APPLICATION.
// Primary colors (normal)
$color-primary-red:#F44336;
$color-primary-blue:#3F51B5;
$color-primary-pink:#E91E63;
$color-primary-megenta:#9C27B0;
$color-primary-purple:#673ab7;
$color-primary-skyblue:#2196f3;
$color-primary-skybluegreen:#00bcd4;
$color-primary-darkgreen:#009688;
$color-primary-lightgreen:#4caf50;
$color-primary-orange:#ff5722;
$color-primary-silver:#607d8b;
$color-primary-brown:#795548;
$color-primary-yellow:#ffeb3b;
// Primary colors (dark)
$color-primary-red-dark:#D32F2F;
$color-primary-blue-dark:#303f9f;
$color-primary-pink-dark:#c2185b;
$color-primary-megenta-dark:#7b1fa2;
$color-primary-purple-dark:#512da8;
$color-primary-skyblue-dark:#1976d2;
$color-primary-skybluegreen-dark:#0097a7;
$color-primary-darkgreen-dark:#00796b;
$color-primary-lightgreen-dark:#388e3c;
$color-primary-orange-dark:#e64a19;
$color-primary-silver-dark:#455a64;
$color-primary-brown-dark:#5d4037;
$color-primary-yellow-dark:#e0cf34;
// other colors (normal)
$color-primary-lightgreen-light:rgba(165, 175, 76, 0.63);
$color-background-gray:#f2f3fa;
$color-white:white;
$color-thin-gray:#d8d8d8;
$color-dark-gray:#a5a5a5;
$color-raised-gray:rgba(0, 0, 0, 0.14),
0 3px 1px -2px rgba(0, 0, 0, 0.2),
0 1px 5px 0 rgba(0, 0, 0, 0.12);
$color-raised-gray-active:rgba(0, 0, 0, 0.18),
0 8px 16px rgba(0, 0, 0, 0.36);
// CDG Team Colors
$color-cdg-lightest-gray:#f5f5f5;
$color-cdg-tag-blue:#4a5cbf;
$color-cdg-sky-blue:#00c8f5;
$color-cdg-sky-blue-d:#00b3f0;
$color-cdg-nav:#313048;
$color-cdg-nav-alt:#3e3c5a;
$color-cdg-gray-searchbox:#cbcae0;
$color-cdg-gray-a:#838492;
$color-cdg-gray-b:#f8f8fa;
$color-cdg-gray-vd:#333333;
$color-tag-user-pref:rgba(119, 122, 158, 0.73);
$color-box-shadow-tag:rgba(0, 0, 0, 0.50);
$color-cdg-light-purple:#E1E2EB;
$color-cdg-red-a:rgba(244, 78, 54, 0.88);
$color-cdg-lightpink-a:#F2F3F8;
$color-cdg-black-a:#29343D;
$color-cdg-project: #e94a48;
$color-cdg-document: #f6a11c;
$color-cdg-tool: #28a9b2;
$color-cdg-book: #80aa40;
$color-cdg-learning: #f26522;
$color-cdg-video: #56488b;
$color-cdg-innovation: #80aa40;
$color-cdg-softwares-icon: #11b6cb;
