<?xml version="1.0" encoding="UTF-8"?>
<configuration>
      <system.webServer>
  	<defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
    <!-- IIS url rewrite -->
    <rewrite>
    </rewrite>
    <caching enabled="true" enableKernelCache="true">
      <profiles>
      </profiles>
    </caching>

    <staticContent>
    <remove fileExtension=".woff" />
    <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
  </staticContent>
  </system.webServer>
</configuration>
